#new-listing-page input,
select {
  padding: 8px 12px 8px 12px;
  display: inline-block;
}

#new-listing-page h3 {
  margin-bottom: 10px;
}

#new-listing-offer,
#new-listing-lf {
  width: 45%;
  display: inline-block;
  padding-right: 20px;
}

#new-listing-offer-title,
#new-listing-lf-title {
  width: 60%;
}

#new-listing-offer-type,
#new-listing-lf-type {
  width: 30%;
}

#new-listing-offer-description,
#new-listing-lf-description {
  margin: 14px 0px 14px 0px;
  width: 92%;
  min-height: 100px;
  text-align: top;
}

#new-listing-page button {
  padding: 12px;
  font-size: 1rem;
  margin: 12px 0px 24px 0px;
  border: none;
  border-radius: 5px;
}

#new-listing-submit {
  background-color: #64cb85;
  color: white;
}

#new-listing-submit:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  #new-listing-offer,
  #new-listing-lf {
    width: 100%;
  }
}
