{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% block styles %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="center-container">
      <div id="navbar">
        <div class="navbar-item"><a href="http://localhost:3000/"><strong>&larr; Home</strong></a></div>
        <div class="navbar-item"><a href="/">Discover</a></div>
        <div class="navbar-item"><a href="/your_listings">Your Listings</a></div>
        <div class="navbar-item"><a href="/logout">Logout</a></div>
      </div>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
