{% extends 'base.html' %} {% load static %} 
{% block title %}Discover{% endblock %} 
{% block styles %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/discover.css' %}" />
{% endblock %} 
{% block body %}

<div id="discover-page">
  <h1>Discover Listings</h1>
  <div>
    <a href="/new_listing"><button>New Listing</button></a>
  </div>

  <div>
    <form method="POST" >
      {% csrf_token %}
      <input class="explore-search-bar" type="text" name="searchText" placeholder="What are you looking for or offering?"></input>
      <h3>Looking For</h3>
      <select class="explore-select" name="filterLf" size="1">
          <option value="any">any</option>
          <option value="money">money</option>
          <option value="favor">favor</option>
          <option value="object">object</option>
      </select>
      <h3>Offering</h3>
      <select class="explore-select" name="filterOffering" size="1">
          <option value="any">any</option>
          <option value="money">money</option>
          <option value="favor">favor</option>
          <option value="object">object</option>
      </select>
      <button id="go-button" type="submit"><strong>Search</strong></button>
  </form>
  </div>
  
  <div>
    {% for exchange in exchanges %}
    <div class="exchange-card">
      <p class="exchange-meta-data">
        @<strong>{{ exchange.seller.username }}</strong> |
        <em>{{ exchange.created_on }}</em>
      </p>
  
      <div class="exchange-offer-container">
        <p><strong>I am offering...</strong></p>
        <h3>{{ exchange.offer_title }}</h3>

        {% if exchange.offer_type == "object" %}
          <p class="exchange-type" style="background-color: #cee1eb;">{{ exchange.offer_type }}</p>
        {% elif exchange.offer_type == "money" %}
          <p class="exchange-type" style="background-color: #cddbc3;">{{ exchange.offer_type }}</p>
        {% elif exchange.offer_type == "favor" %}
          <p class="exchange-type" style="background-color: #f0daeb;">{{ exchange.offer_type }}</p>
        {% endif %}

        <p>{{ exchange.offer_description }}</p>
      </div>
  
      <div class="exchange-lf-container">
        <p><strong>I am looking for...</strong></p>
        <h3>{{ exchange.lf_title }}</h3>
        
        {% if exchange.lf_type == "object" %}
          <p class="exchange-type" style="background-color: #cee1eb;">{{ exchange.lf_type }}</p>
        {% elif exchange.lf_type == "money" %}
          <p class="exchange-type" style="background-color: #cddbc3;">{{ exchange.lf_type }}</p>
        {% elif exchange.lf_type == "favor" %}
          <p class="exchange-type" style="background-color: #f0daeb;">{{ exchange.lf_type }}</p>
        {% endif %}


        <p>{{ exchange.lf_description }}</p>
      </div>
      
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
