{% extends 'base.html' %} {% load static %} 
{% block title %}Discover{% endblock %} 
{% block styles %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/discover.css' %}" />
{% endblock %} 
{% block body %}

<div id="discover-page">
  <h1>Discover Listings</h1>
  <div>
    <a href="/new_listing"><button id="new-listing-button">New Listing</button></a>
  </div>

  <div style="margin-bottom: 40px; background-color: #fff; box-shadow: 0px 2px 5px #C1CAD6; border-radius: 5px; padding: 6px 16px 16px 16px;">
    <form method="POST" >
      {% csrf_token %}
        <div style="width: 75%; padding-top: 14px; display: inline-block">
          <input style="width: 80%; padding: 6px; font-size: 1.1rem;" id="discover-search-bar" class="explore-search-bar" type="text" name="searchText" placeholder="What are you looking for or offering?"></input>
          <div style="height: 20px"></div>
          <div style="width: 40%; display: inline-block">
            <p>You Are Looking For</p>
            <select class="explore-select" name="filterLf" size="1" style="width: 80%; padding: 6px; margin-top: 8px; font-size: 1.1rem;">
                <option value="any">any</option>
                <option value="money">money</option>
                <option value="favor">favor</option>
                <option value="object">object</option>
            </select>
          </div>

          <div style="width: 40%; display: inline-block">
            <p>You Are Offering</p>
            <select class="explore-select" name="filterOffering" size="1" style="width: 80%; padding: 6px; margin-top: 8px; font-size: 1.1rem;">
                <option value="any">any</option>
                <option value="money">money</option>
                <option value="favor">favor</option>
                <option value="object">object</option>
              </select>
          </div>
          
      </div>
      <div style="width: 15%; display: inline-block; vertical-align: top; text-align: right;">
        <button id="search-button" type="submit">Search</button>
      </div>
  </form>
  </div>
  
  <div>
    {% for exchange in exchanges %}
    <div class="exchange-card">
      <p class="exchange-meta-data">
        @<strong>{{ exchange.seller.username }}</strong> |
        <em>{{ exchange.created_on }}</em>
      </p>
  
      <div class="exchange-offer-container">
        <p><strong>I am offering...</strong></p>
        <h3>{{ exchange.offer_title }}</h3>

        {% if exchange.offer_type == "object" %}
          <p class="exchange-type object-type">{{ exchange.offer_type }}</p>
        {% elif exchange.offer_type == "money" %}
          <p class="exchange-type money-type">{{ exchange.offer_type }}</p>
        {% elif exchange.offer_type == "favor" %}
          <p class="exchange-type favor-type">{{ exchange.offer_type }}</p>
        {% endif %}

        <p>{{ exchange.offer_description }}</p>
      </div>
  
      <div class="exchange-lf-container">
        <p><strong>I am looking for...</strong></p>
        <h3>{{ exchange.lf_title }}</h3>
        
        {% if exchange.lf_type == "object" %}
          <p class="exchange-type object-type">{{ exchange.lf_type }}</p>
        {% elif exchange.lf_type == "money" %}
          <p class="exchange-type money-type">{{ exchange.lf_type }}</p>
        {% elif exchange.lf_type == "favor" %}
          <p class="exchange-type favor-type">{{ exchange.lf_type }}</p>
        {% endif %}


        <p>{{ exchange.lf_description }}</p>
      </div>
      
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
