{% extends 'base.html' %} {% load static %} 
{% block title %}Your Listings{% endblock %} 
{% block styles %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/your_listings.css' %}" />
{% endblock %} 
{% block body %}
<div id="your-listings-page">
  <h1>Your Listings</h1>
  <div>
    {% for exchange in exchanges %}
    <div class="exchange-card">
      <p class="exchange-meta-data">
        @<strong>{{ exchange.seller.username }}</strong> |
        <em>{{ exchange.created_on }}</em>
      </p>
  
      <div class="exchange-offer-container">
        <p><strong>I am offering...</strong></p>
        <h3>{{ exchange.offer_title }}</h3>

        {% if exchange.offer_type == "object" %}
          <p class="exchange-type object-type">{{ exchange.offer_type }}</p>
        {% elif exchange.offer_type == "money" %}
          <p class="exchange-type money-type">{{ exchange.offer_type }}</p>
        {% elif exchange.offer_type == "favor" %}
          <p class="exchange-type favor-type">{{ exchange.offer_type }}</p>
        {% endif %}

        <p>{{ exchange.offer_description }}</p>
      </div>
  
      <div class="exchange-lf-container">
        <p><strong>I am looking for...</strong></p>
        <h3>{{ exchange.lf_title }}</h3>
        
        {% if exchange.lf_type == "object" %}
          <p class="exchange-type object-type">{{ exchange.lf_type }}</p>
        {% elif exchange.lf_type == "money" %}
          <p class="exchange-type money-type">{{ exchange.lf_type }}</p>
        {% elif exchange.lf_type == "favor" %}
          <p class="exchange-type favor-type">{{ exchange.lf_type }}</p>
        {% endif %}


        <p>{{ exchange.lf_description }}</p>
      </div>

      <div style="text-align: right;">
        <button id="exchange-delete-btn">
          <a href="/delete?id={{exchange.id}}">delete</a>
        </button>
      </div>
      
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
